body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-text{
    color: orange;
}
Section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20px;
}
.half-width img{
    width: 80%;
    padding-top: 5%;
}
.half-width-next{
    width: 50%;
    padding-right: 5%;
    padding-top: 5%;
}
.linked-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/butli\ background2.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/half\ golla\ re-sized.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: bottom right;
    
}